{% extends "nav-bar.html" %}
{% load static %}

{% block content %}
            <!-- Page Header Start -->
            <div class="page-header pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Property</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Blog Start -->
            <div class="blog">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Latest from Us</p>
                        <h2>Property</h2>
                    </div>
                    
                    <div class="row blog-page d-inline-block d-flex">
                        {% for property_infos in property_info %}
                        <div class="col-lg-4 col-md-3 wow fadeInUp " data-wow-delay="0.2s">
                            
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a class="btn" href="{% url 'single' property_infos.id %}"> 
                                    {% for image in first_image %}
                                        
                                        {% if property_infos.property_name == image.image_name.property_name %}
                                        <img src="{{ image.image.url }}" alt="image" class="zoomable"> 
                                        {% endif %}
                                        
                                    {% endfor %}
                                    </a>
                                </div>
                                <div class="blog-title">
                                    <h3>{{ property_infos.property_name }}</h3>
                                    <a class="btn" href="{% url 'single' property_infos.id %}">+</a>
                                </div>
                                <div class="blog-meta">
                                    <!--<p>By<a href="">Admin</a></p>
                                    <p>In<a href="">Construction</a></p>-->
                                </div>
                                <div class="blog-text ">
                                    <p class="text-secondary">
                                        Property Timeline - {{property_infos.property_timeline}}
                                        Property Status - {{property_infos.status}}
                                        Rera Number - {{property_infos.rera_number}}
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                    </div>
                
                </div>
            </div>
            <!-- Blog End -->
{% endblock content %}
