{% extends "nav-bar.html" %}
{% load static %}
{% block content %}
            <!-- Page Header Start -->
            <div class="page-header pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Contact Start -->
            <div class="contact wow fadeInUp">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Get In Touch</p>
                        <h2>For Any Query</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="contact-item">
                                    <i class="flaticon-address"></i>
                                    <div class="contact-text">
                                        <h2>Location</h2>
                                        <p>Vijay Nagar Indore</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="flaticon-call"></i>
                                    <div class="contact-text">
                                        <h2>Phone</h2>
                                        <p>+91-8770084705</p>
                                    </div>
                                </div>
                                <div class="contact-item">
                                    <i class="flaticon-send-mail"></i>
                                    <div class="contact-text">
                                        <h2>Email</h2>
                                        <p>info@brickbix.co</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="contact-info">
                                <div id="success" class='text-center text-bold text-success'>
                                  {{message}}
                                </div>
                                <form method="post" name="sentMessage" id="contactForm">
                                    {% csrf_token %} 
                                    {% for fields in form %}
                                    {% if forloop.counter <= 4 %}
                                        <div class='ml-5 mt-2 text-secondary '>{{ fields.label_tag }} {{loop.index}}</div> <div>{{ fields }}</div>  
                                    {% endif %}                                        
                                    {% endfor %} 
                                    <br>
                                    <div>
                                        <button class="btn btn-outline-success ml-5" type="submit" id="sendMessageButton">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact End -->
{% endblock content %}