{% extends "nav-bar.html" %}
{% load static %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th class="text-white" scope="col">Area</th>
        <th class="text-white" scope="col">Property Type</th>
        <th class="text-white" scope="col">Property Size</th>
        <th class="text-white" scope="col">Rate per sqft</th>
      </tr>
    </thead>
    <tbody>
      {% for info in property_table %}
      <tr>
        <th scope="row">{{info.Area}}</th>
        <td>{{info.Area}}</td>
        <td>{{info.Area}}</td>
        <td>{{info.Area}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}