{% extends "nav-bar.html" %}
{% load static %}
{% block content %}
            <!-- Page Header Start -->
            <div class="page-header pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Services</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Services</p>
                        <h2>We Provide Services</h2>
                    </div>
                    <div class="row">
                        {% for property_categorys in property_category %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp">
                            <div class="service-item">
                                <div class="service-img">
                                    {% if forloop.counter == 1 %}
                                        <img src="/static/img/Residential.jpg" alt="Image">
                                    {% else %}
                                        <img src="/static/img/Commercial.jpg" alt="Image">
                                    {% endif %}
                                    <div class="service-overlay">
                                        <p class='text-white'>
                                        <a href="{% url 'blog' property_categorys.id %}" class='text-white' >
                                            A residential plot is a piece of land that is zoned for residential use, which means it can be used to build a home or other type of residential property. Residential plots come in different sizes and shapes, and can be found in different locations such as suburbs, cities, or rural areas. Purchasing a residential plot allows a person to build a custom home that meets their unique needs and preferences, and can be a valuable investment for the future. 
                                        </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>{{ property_categorys.type_of_property }}</h3>
                                    <a class="btn" href="/static/img/service-1.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="/static/img/service-1.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            <a href="{% url 'query' %}" class='text-white' >
                                            A commercial plot is a piece of land that is zoned for commercial use, which means it can be used for commercial purposes such as office buildings, retail stores, hotels, and other commercial enterprises. Commercial plots can be found in a variety of locations, industrial areas, and other areas that are zoned for commercial use. Purchasing a commercial plot can be a valuable investment, as it allows a business to own property and control their physical location.
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Commercial property</h3>
                                    <a class="btn" href="/static/img/service-2.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="/static/img/service-3.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <h4>
                                         COMING SOON   
                                        </h4>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Agriculture Property</h3>
                                    <a class="btn" href="/static/img/service-3.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </div> 
            <!-- Service End -->


{% endblock content %}